main {
  h2 {
    margin-top: 150px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .city {
    color: rgb(0, 0, 0);
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0px;
  }
  .container {
    display: block;
    margin: 0 auto;
    width: 808px;
    height: 476px;
    background: white;
    padding: 16px;
  }
  .h__line {
    display: flex;
    justify-content: space-between;
    .date {
      color: rgb(0, 0, 0);
      font-family: Open Sans;
      font-size: 20px;
      font-weight: 400;
      line-height: 100%;
    }
  }
  .temperature__line {
    margin-bottom: 10px;
    margin-top: 36px;
    display: flex;
    align-items: center;
  }
  .temperature span {
    color: rgb(0, 0, 0);
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
  }
  .feels {
    color: rgb(0, 0, 0);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
  }
}

.element__line {
  display: flex;
  width: 376px;
  padding: 16px 0 16px 0;
  justify-content: space-between;
}

.weather {
  width: 50px;
}

.info {
  padding-top: 36px;
  h5 {
    color: rgb(0, 0, 0);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
  }
  p {
    color: rgb(0, 0, 0);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
  }
  &__line {
    display: flex;
    gap: 24px;
  }
  &__element {
    width: 376px;
    height: 48px;
  }
  hr {
    width: 376px;
  }
}
